


.input  {
    border: 0;
    font-size: 15px;
    width: 11.7rem;
    padding: 9px;
    color: black;
    background: white;
    cursor: 'pointer';
}

.inputWithDeleteButton {
  border: 0;
  font-size: 15px;
  width: 10rem;
  padding: 9px;
  color: black;
  background: white;
  cursor: 'pointer';
}