@font-face {
  font-family: "GothamLight";
  src: local("GothamLight"),
   url("./fonts/GothamLight.ttf") format("truetype");
  }

  * {
    font-family: GothamLight, 'Segoe UI' !important;/* <-- fonts */
}

body {
  margin: 0;
  font-family: GothamLight, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: GothamLight, 'Courier New',
    monospace;
}
